<a href="https://colab.research.google.com/github/bthodla/danano/blob/master/prj4/wrangle_act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Gathering data

1.   Load the "twitter-archive-enhanced.csv" into a dataframe
2.   Load the "image_predictions.tsv" (the Tweet image predictions) hosted on Udacity servers programmatically using the "requests" library (URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv)
3. Using tweet ids from (1) above and the Twitter API, load information such as "retweet count" and "favorite count" and any other interesting data items and store the entire set of data relating to a tweet in a JSON file called "tweet_json.txt"; then read this file line by line into a data frame and include tweet id, retweet count, favorite count and any other data items of interest
4. Consumer API keys: 
    
    Z22dLMPEOtCL2ayqnPTbFg3sK (API key)
    
    SuaxZay016BTIpzrYszo9Dbo0jQd38FZ8SUi0bDyy8hU6jMKdj (API secret key)
    
    Access token & access token secret

    14299634-DHvEoZI9bR2D5WOZWf82MjHX6vEnPRIosIrli6ueb (Access token)

    nvba5wXGFrEcYKmQjztu40wsr0vG2pXnQShE2ZQv6I313 (Access token secret)

    Read and write (Access level)

In [0]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import requests
import io
import tweepy
import json
from google.colab import drive
import yaml
import time
import os

In [0]:
def load_yaml_file(filename: str) -> dict:
    twitter_keys = {}

    with open(filename, 'r') as ymlfile:
        cfg = yaml.safe_load(ymlfile)
    
    twitter_keys['consumer_key'] = cfg['twitter']['consumer']['key']
    twitter_keys['consumer_secret'] = cfg['twitter']['consumer']['secret']
    twitter_keys['access_token'] = cfg['twitter']['access']['token']
    twitter_keys['access_token_secret'] = cfg['twitter']['access']['token-secret']

    return twitter_keys

In [0]:
def print_file(file_name, lines = 10):
    with open(file_name, 'r') as f:
        for _ in range(lines):
            print (f.readline())

In [40]:
drive.mount('/content/gdrive')
twitter_keys_yaml_file = '/content/gdrive/My Drive/Colab Notebooks/twitter_keys.yaml'
tweet_json_file = '/content/gdrive/My Drive/Colab Notebooks/tweet_json.txt'

"""
with open(twitter_keys_yaml_file, encoding='utf-8') as file:
    line = file.readline()
    while line:
        line = file.readline()
        print(line)
"""
print(load_yaml_file(twitter_keys_yaml_file))

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
{'consumer_key': 'Z22dLMPEOtCL2ayqnPTbFg3sK', 'consumer_secret': 'SuaxZay016BTIpzrYszo9Dbo0jQd38FZ8SUi0bDyy8hU6jMKdj', 'access_token': '14299634-DHvEoZI9bR2D5WOZWf82MjHX6vEnPRIosIrli6ueb', 'access_token_secret': 'nvba5wXGFrEcYKmQjztu40wsr0vG2pXnQShE2ZQv6I313'}

In [41]:
# 1. Load the file "twitter-archive-enhanced.csv" into a dataframe
twitter_archive_file_url = 'https://raw.githubusercontent.com/bthodla/danano/master/prj4/twitter-archive-enhanced.csv'

tweets_df = pd.read_csv(twitter_archive_file_url)

tweet_count = tweets_df.shape[0]
print ('%s %d' % ('Tweet Count: ', tweet_count))

Tweet Count:  2356

In [34]:
tweets_df.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [0]:
# 2. Load the "image_predictions.tsv" (the Tweet image predictions) hosted on Udacity servers programmatically using the "requests" library

image_predictions_file_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

url_data = requests.get(image_predictions_file_url).content

img_pred_df = pd.read_csv(io.StringIO(url_data.decode('utf-8')), sep = '\t')

In [35]:
img_pred_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [7]:
""" 3. Using tweet ids from tweet_df and the Twitter API, load information such as "retweet count" and "favorite count" and any other interesting data items 
and store the entire set of data relating to a tweet in a JSON file called "tweet_json.txt"; then read this file line by line into a data frame and include 
tweet id, retweet count, favorite count and any other data items of interest
"""

twitter_keys = load_yaml_file(twitter_keys_yaml_file)
consumer_key = twitter_keys['consumer_key']
consumer_secret = twitter_keys['consumer_secret']
access_token = twitter_keys['access_token']
access_token_secret = twitter_keys['access_token_secret']

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

error_tweets = {}
tweet_offset = 0
tweet_batch = 100
tweets_remaining = 0

# Delete the file first so that each run can add content fresh
if os.path.isfile(tweet_json_file):
    os.remove(tweet_json_file)

with open(tweet_json_file, mode = 'a', encoding = 'utf-8') as f:
    while tweet_batch:
        tweet_ids = tweets_df[tweet_offset:tweet_offset + tweet_batch]['tweet_id']
        for tweet_id in tweet_ids:
            try:
                status = api.get_status(tweet_id)
                f.write(json.dumps(status._json) + '\n')

            except tweepy.TweepError as e:
                error_tweets[status.id] = e
            
        tweets_remaining = tweet_count - tweet_offset
        tweet_batch = tweet_batch if tweet_batch < tweets_remaining else tweets_remaining
        tweet_offset += tweet_batch
        # print ('%s %d %s %d' % ('Tweets Remaining: ', tweets_remaining, 'Tweet Offset: ', tweet_offset))
        # time.sleep(1 * 5)

Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772

In [8]:
with open(tweet_json_file, mode = 'r', encoding = 'utf-8') as f:
    print(len(f.readlines()))

2339

In [0]:
# Read "tweet_json.txt" file line by line into a data frame and include tweet id, retweet count, favorite count and any other data items of interest

columns = ['tweet_id', 'text', 'retweet_count', 'favorite_count', 'retweeted', 'favorited', 'media_url']
tweets_mini_df = pd.DataFrame(columns = columns)

index = 0
with open(tweet_json_file, mode = 'r', encoding = 'utf-8') as f:
    for tweet in f:
        tweet_json = json.loads(tweet)
        tweet_id = tweet_json['id']
        text = tweet_json['text']
        retweet_count = tweet_json['retweet_count']
        favorite_count = tweet_json['favorite_count']
        retweeted = tweet_json['retweeted']
        favorited = tweet_json['favorited']
        try:
            media_url = tweet_json['entities']['media'][0]['media_url_https']
        except KeyError as e:
            media_url = ''

        tweets_mini_df.loc[index] = pd.Series({'tweet_id': tweet_id, 
                                        'text': text, 
                                        'retweet_count': retweet_count, 
                                        'favorite_count': favorite_count,
                                        'retweeted': retweeted,
                                        'favorited': favorited,
                                        'media_url': media_url})
        index +=1

In [32]:
tweets_mini_df.head()

,tweet_id,text,retweet_count,favorite_count,retweeted,favorited,media_url
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,8226,37748,False,False,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg
1,892177421306343426,This is Tilly. She's just checking pup on you....,6079,32430,False,False,
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,4023,24427,False,False,
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,8379,41085,False,False,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg
4,891327558926688256,This is Franklin. He would like you to stop ca...,9082,39281,False,False,

### Assessing data

Key Points

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.

* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.

* Cleaning includes merging individual pieces of data according to the rules of tidy data.

* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.

* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [50]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

#### twitter-archive-enhanced.csv

In [61]:
# There are 181 rows in this dataset that are retweets. This is based on the fact that the column "retweeted_status_id" is not null. 
# This column points to the original tweet which this has retweeted. These need to be removed from the dataset as we only want original ratings

tweets_df[tweets_df['retweeted_status_id'].notna()].shape[0]

181

In [51]:
# "timestamp" is represented as a string and should be converted to datetime
tweets_df['timestamp'].head(5)

0    2017-08-01 16:23:56 +0000
1    2017-08-01 00:17:27 +0000
2    2017-07-31 00:18:03 +0000
3    2017-07-30 15:58:51 +0000
4    2017-07-29 16:00:24 +0000
Name: timestamp, dtype: object

In [87]:
# Dog stages ('doggo', 'floofer', 'pupper', 'puppo') are not fully recorded in the respective columns with most values having been set to "None"
# This needs to be corrected

tweets_df[tweets_df['text'].str.contains("pupper")][['tweet_id', 'pupper', 'text']]

,tweet_id,pupper,text
29,886366144734445568,pupper,This is Roscoe. Another pupper fallen victim t...
49,882762694511734784,pupper,This is Gus. He's quite the cheeky pupper. Alr...
54,881666595344535552,None,This is Gary. He couldn't miss this puppertuni...
56,881536004380872706,pupper,Here is a pupper approaching maximum borkdrive...
78,877611172832227328,pupper,RT @rachel2195: @dog_rates the boyfriend and h...
82,876838120628539392,pupper,This is Ginger. She's having a ruff Monday. To...
92,874296783580663808,pupper,This is Jed. He may be the fanciest pupper in ...
97,873337748698140672,pupper,RT @dog_rates: This is Sierra. She's one preci...
98,873213775632977920,pupper,This is Sierra. She's one precious pupper. Abs...
107,871762521631449091,pupper,This is Rover. As part of pupper protocol he h...
132,866816280283807744,pupper,RT @dog_rates: This is Jamesy. He gives a kiss...
135,866450705531457537,pupper,This is Jamesy. He gives a kiss to every other...
137,866094527597207552,pupper,RT @dog_rates: Here's a pupper before and afte...
199,854120357044912130,pupper,Sometimes you guys remind me just how impactfu...
220,850019790995546112,pupper,Say hello to Boomer. He's a sandy pupper. Havi...
222,849668094696017920,pupper,RT @dog_rates: This is Gidget. She's a spy pup...
249,845306882940190720,pupper,This is Pickles. She's a silly pupper. Thinks ...
293,837820167694528512,pupper,"Here's a pupper before and after being asked ""..."
297,837110210464448512,pupper,This is Clark. He passed pupper training today...
304,836380477523124226,pupper,This is Ava. She just blasted off. Streamline ...
330,833124694597443584,pupper,This is Gidget. She's a spy pupper. Stealthy a...
352,831315979191906304,pupper,I couldn't make it to the #WKCDogShow BUT I ha...
378,827933404142436356,pupper,This is Kona. Yesterday she stopped by the dep...
402,824325613288833024,pupper,Retweet the h*ck out of this 13/10 pupper #Bel...
418,822462944365645825,pupper,This is Gabe. He was the unequivocal embodimen...
444,819238181065359361,pupper,Some happy pupper news to share. 10/10 for eve...
453,818588835076603904,pupper,RT @dog_rates: This is Chelsea. She forgot how...
462,817502432452313088,pupper,RT @dog_rates: Meet Herschel. He's slightly bi...
465,817181837579653120,pupper,RT @dog_rates: Here's a pupper with squeaky hi...
478,815966073409433600,pupper,Here's a pupper with squeaky hiccups. Please e...
...,...,...,...
1889,674774481756377088,pupper,This is Superpup. His head isn't proportional ...
1897,674737130913071104,pupper,Meet Rufio. He is unaware of the pink legless ...
1900,674664755118911488,None,This is Rodman. He's getting destroyed by the ...
1903,674638615994089473,pupper,This pupper is fed up with being tickled. 12/1...
1907,674447403907457024,pupper,This pupper just wants a belly rub. This puppe...
1915,674318007229923329,pupper,This is Lennon. He's in quite the predicament....
1921,674262580978937856,pupper,This is Gus. He's super stoked about being an ...
1928,674045139690631169,None,Herd of wild dogs here. Not sure what they're ...
1930,674038233588723717,pupper,This is Kaiya. She's an aspiring shoe model. 1...
1936,673956914389192708,pupper,This is one esteemed pupper. Just graduated co...
1937,673919437611909120,pupper,This is Obie. He is on guard watching for evil...
1945,673707060090052608,pupper,This is Raymond. He's absolutely terrified of ...
1948,673697980713705472,pupper,This is Pickles. She's a tiny pointy pupper. A...
1954,673656262056419329,pupper,This is Albert AKA King Banana Peel. He's a ki...
1956,673612854080196609,pupper,This is Jeffri. He's a speckled ice pupper. Ve...
1960,673363615379013632,pupper,This little pupper can't wait for Christmas. H...
1967,673342308415348736,pupper,This is Django. He's a skilled assassin pupper...
1970,673295268553605120,pupper,Meet Eve. She's a raging alcoholic 8/10 (would...
1974,673148804208660480,pupper,This is Fletcher. He's had a ruff night. No mo...
1977,672988786805112832,pupper,This is Schnozz. He's had a blurred tail since...
1980,672975131468300288,pupper,This is Chuckles. He is one skeptical pupper. ...
1981,672970152493887488,pupper,This is Chet. He's having a hard time. Really ...
1991,672622327801233409,pupper,This lil pupper is sad because we haven't foun...
1992,672614745925664768,pupper,This is Norman. Doesn't bark much. Very docile...
1995,672594978741354496,pupper,Meet Scott. Just trying to catch his train to ...
2002,672481316919734272,pupper,Say hello to Jazz. She should be on the cover ...
2009,672254177670729728,pupper,This is Rolf. He's having the time of his life...
2015,672205392827572224,pupper,This is Opal. He's a Royal John Coctostan. Rea...
2017,672160042234327040,pupper,This is Bubba. He's a Titted Peebles Aorta. Ev...
2141,669993076832759809,None,This is Zoey. Her dreams of becoming a hippo b...