In [118]:
import pandas as pd
import numpy as np

# To supporess budget and revenue values from being returned in exponential format
pd.options.display.float_format = '{:20,.2f}'.format
sales_data_path = '/mnt/EnterprisePlatforms/Qlik/Hackathon/qs_test_data/'

In [12]:
df_customer = pd.read_csv(sales_data_path + 'customer.csv')
df_customer.to_parquet(sales_data_path + 'customer_parquet', engine='auto', compression='snappy')
dfp_customer = pd.read_parquet(sales_data_path + 'customer_parquet')
dfp_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3876 entries, 0 to 3875
Data columns (total 3 columns):
customer_id      3876 non-null int64
customer_name    3876 non-null object
category         3876 non-null object
dtypes: int64(1), object(2)
memory usage: 121.1+ KB

In [93]:
df_contact = pd.read_csv(sales_data_path + 'contact.csv', encoding = "ISO-8859-1", dtype={"zip": object})
df_contact.to_parquet(sales_data_path + 'contact_parquet', engine='auto', compression='snappy')
dfp_contact = pd.read_parquet(sales_data_path + 'contact_parquet')
dfp_contact.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210024 entries, 0 to 210023
Data columns (total 12 columns):
contact_id     210024 non-null int64
first_name     210024 non-null object
last_name      210024 non-null object
city           210024 non-null object
state_code     210024 non-null object
zip            210024 non-null object
country        210024 non-null object
latitude       210024 non-null float64
longitude      210024 non-null float64
customer_id    210024 non-null int64
status         210024 non-null object
opportunity    210024 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 20.8+ MB

In [107]:
df_product = pd.read_csv(sales_data_path + 'product.csv', encoding = "ISO-8859-1")
df_product.to_parquet(sales_data_path + 'product_parquet', engine='auto', compression='snappy')
dfp_product = pd.read_parquet(sales_data_path + 'product_parquet')
dfp_product.head()

,product_id,product_name,tna,ms_rating,exp_ratio,market_cap
0,VFIAX,Vanguard 500 Index Admiral,"163,456,368,456.00",5.00,0.05,Giant
1,VTSAX,Vanguard Total Stock Mkt Idx Adm,"136,131,758,268.00",4.00,0.05,Giant
2,VINIX,Vanguard Institutional Index I,"110,407,917,518.00",5.00,0.04,Giant
3,VTSMX,Vanguard Total Stock Mkt Idx Inv,"98,869,371,846.00",4.00,0.16,Giant
4,VIIIX,Vanguard Institutional Index Instl Pl,"93,192,353,649.00",5.00,0.02,Giant

In [108]:
df_state = pd.read_csv(sales_data_path + 'state.csv', encoding = "ISO-8859-1")
df_state.to_parquet(sales_data_path + 'state_parquet', engine='auto', compression='snappy')
dfp_state = pd.read_parquet(sales_data_path + 'state_parquet')
dfp_state.head()

  state_code       state    region
0         AL     Alabama  Southern
1         AK      Alaska   Pacific
2         AZ     Arizona   Pacific
3         AR    Arkansas  Southern
4         CA  California   Pacific

In [116]:
df_touch = pd.read_csv(sales_data_path + 'touch.csv', encoding = "ISO-8859-1")
df_touch['txn_date'] = pd.to_datetime(df_touch['txn_date'])
df_touch.to_parquet(sales_data_path + 'touch_parquet', engine='auto', compression='snappy')
dfp_touch = pd.read_parquet(sales_data_path + 'touch_parquet')
dfp_touch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16974 entries, 0 to 16973
Data columns (total 5 columns):
contact_id    16974 non-null int64
txn_id        16974 non-null int64
txn_date      16974 non-null datetime64[ns]
product_id    16974 non-null object
touch_type    16974 non-null object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 795.7+ KB

In [117]:
df_txn = pd.read_csv(sales_data_path + 'txn.csv', encoding = "ISO-8859-1")
df_txn['txn_date'] = pd.to_datetime(df_txn['txn_date'])
df_txn.to_parquet(sales_data_path + 'txn_parquet', engine='auto', compression='snappy')
dfp_txn = pd.read_parquet(sales_data_path + 'txn_parquet')
dfp_txn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90010 entries, 0 to 90009
Data columns (total 6 columns):
contact_id     90010 non-null int64
txn_id         90010 non-null int64
txn_date       90010 non-null datetime64[ns]
product_id     90010 non-null object
sales          90010 non-null float64
redemptions    90010 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 4.8+ MB

In [122]:
dfp_touch = pd.read_parquet(sales_data_path + 'touch_parquet')
dfp_touch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16974 entries, 0 to 16973
Data columns (total 5 columns):
contact_id    16974 non-null int64
txn_id        16974 non-null int64
txn_date      16974 non-null datetime64[ns]
product_id    16974 non-null object
touch_type    16974 non-null object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 795.7+ KB